
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Burger Buddy</title>
</head>
<!-- Link to the Bootstrap CDN -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" href="assets/css/style.css">

<!-- Google Font -->
<link href="https://fonts.googleapis.com/css?family=Rammetto+One" rel="stylesheet">

<!-- jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.js"></script>

<body>
 <div class="row ">
        <!-- Column 1 -->
        <div class="col-sm-6">
            <!-- Row 1 where results are populated-->
            <div class="row" id="results-row">
                <div id="results-div">
                    <!-- results show here -->
                    {{{ body }}}
                    </div>
            </div>
        </div>




 <!-- Column 2-->
        <div class="col-sm-6">
            <!-- Row 1 where burger image is displayed-->
            <div class="row" id="image-row">
                <img class="burger-img" src="assets/img/burger.png">
            </div>
            <!-- Row 2 where input box is displayed-->
            <div class="row label-row">
                <p class="title">Burger Buddy</h1>
            </div>
        </div>

     </div>

</body>

</html>

<script type="text/javascript">
var burgArray = [];


//when you click the submit button...
$("#submit-button").click(function dothis() {


    //add burger to "burger" array
    burgArray.push(burgerName);

    //call new burger function
    newBurger();


    //create new burger
    function newBurger() {
        $("#results-div").append("<br>");
        var newBtn = $("<button>");
        newBtn.addClass("burger");
        newBtn.text(burgerName);
        newBtn.attr("disabled", "disabled");
        $("#results-div").append(newBtn);
    }


    //clear text-area
    $("#text-area").val("");

    console.log($("#text-area").val());


});
</script>





